:root {
  --white: #ffffff;
  --gray-200: #a9a9a9;
  --surface-700: #2a2a2a; 
  --bg-900: #1a1a1a;     
  --blue-500: #002266;
  --blue-300: #2B78D4
  ;
  --gradient-blue: linear-gradient(90deg, var(--blue-500), var(--blue-300));
  --success-500: #2ecc71; 
  --success-600: #179b4a;
  --gradient-success: linear-gradient(90deg, var(--success-600), var(--success-500));
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #1a1a1a 0%, #131313 100%);
  color: var(--white);
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

* { box-sizing: border-box; }
