.site-footer {
	padding: 24px 16px 32px;
	background: #272727;
}

.footer-inner {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: end;
	justify-content: flex-end;
	gap: 36px;
	opacity: .9;
}

.footer-inner img { 
    height: 60px;
    object-fit: contain; 
    filter: drop-shadow(0 0 6px rgba(0,0,0,.35));
}