.perfil-de-artista_129-277 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(180deg, #1a1a1a 0%, #2d2d2d 100%);
  width: 1530px;
  height: 1337px;
}
.frame-44_129-278 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 1530px;
  height: 100px;
}
.rectangle-1_129-279 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-14_129-280 {
  top: 10px;
  left: 40px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-perfil_129-281 {
  top: 30px;
  left: 1377px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 26px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 63px;
  height: 39px;
}

.text-inicio_129-282 {
  top: 30px;
  left: 1218px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 26px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 69px;
  height: 39px;
}

.frame-43_129-283 {
  top: 1107px;
  left: -2px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 1532px;
  height: 223px;
}
.rectangle-2_129-284 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-17_129-285 {
  top: 47px;
  left: 808px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-18_129-286 {
  top: 60px;
  left: 1003px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-19_129-287 {
  top: 40px;
  left: 603px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame-62_129-288 {
  top: 258px;
  left: 133px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 592px;
  height: 712px;
}
.rectangle-31_129-289 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame-54_129-290 {
  top: 40px;
  left: 30px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 720px;
  height: 160px;
}
.frame-52_129-291 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 720px;
  height: 120px;
}
.frame-51_129-300 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 272px;
  height: 120px;
}
.ellipse-1_129-302 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame-74_129-400 {
  top: 21px;
  left: 147px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: 213px;
}
.text-mac-miller_129-375 {
  color: #ffffff;
  font-size: 26px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.text-1-000-seguidores_129-301 {
  color: #ffffff;
  font-size: 24px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.line-1_129-303 {
  top: 160px;
  left: 10px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame-65_129-344 {
  top: 612px;
  left: 430px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 320px;
  height: 50px;
}

.frame-59_129-377 {
  top: 314px;
  left: 40px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 320px;
  height: 292px;
}
.text-redes-y-contacto_129-378 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #007bff;
  font-size: 24px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 235px;
  height: 36px;
}

.frame-58_129-379 {
  top: 77px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 320px;
  height: 215px;
}
.frame-56_129-380 {
  top: 120px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 320px;
  height: 35px;
}
.rectangle-35_129-381 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-3_129-383 {
  top: 35px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-123-456-0789_129-384 {
  top: 3px;
  left: 39px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 18px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 125px;
  height: 27px;
}

.frame-57_129-385 {
  top: 180px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 320px;
  height: 35px;
}
.rectangle-35_129-386 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-3_129-388 {
  top: 35px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-macmiller-gmail-com_129-389 {
  top: 3px;
  left: 40px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 18px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 207px;
  height: 27px;
}

.frame-53_129-390 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 320px;
  height: 35px;
}
.rectangle-35_129-391 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-3_129-393 {
  top: 35px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-mac-off_129-394 {
  top: 3px;
  left: 40px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 18px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 79px;
  height: 27px;
}

.frame-55_129-395 {
  top: 60px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 320px;
  height: 35px;
}
.rectangle-35_129-396 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-34_129-397 {
  top: 0px;
  left: 290px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-3_129-398 {
  top: 35px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-mac-miller_129-399 {
  top: 3px;
  left: 40px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 18px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 91px;
  height: 27px;
}

.frame-75_129-407 {
  top: 205px;
  left: 45px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: 463px;
}
.text-descripci-n_129-406 {
  color: #a9a9a9;
  font-size: 14px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.frame-66_129-402 {
  position: relative;
  box-sizing: border-box;
  width: 466px;
  height: 62px;
}
.text-m-sico-y-cantante-en-solitario--hip-hop-y-r-b--exploro-el-jazz-_129-404 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 466px;
  height: 60px;
}

.line-2_129-405 {
  top: 62px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame-69_129-351 {
  top: 292px;
  left: 759px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 610px;
  height: 260px;
}
.rectangle-32_129-352 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame-68_129-353 {
  top: 15px;
  left: 30px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 565px;
  height: 186px;
}
.text-publicado-el-16-10-2025_129-354 {
  top: 0px;
  left: 408px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 275;
  text-align: left;
  text-wrap: nowrap;
  width: 157px;
  height: 21px;
}

.frame-67_129-355 {
  top: 15px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 550px;
  height: 171px;
}
.text-el-d-a-18-de-octubre-de-2025-me-presentar--en-las-palmas-en-un-evento-que-realizamos-entre-muchos-otros-artistas--el-evento-comenzar--a-las-8-de-la-noche--te-esperamos-_129-356 {
  top: 51px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 550px;
  height: 120px;
}

.text-concierto-en-las-palmas_129-357 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #007bff;
  font-size: 24px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 299px;
  height: 36px;
}

.frame-71_129-360 {
  top: 692px;
  left: 759px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 610px;
  height: 260px;
}
.rectangle-32_129-361 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame-68_129-362 {
  top: 15px;
  left: 30px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 565px;
  height: 186px;
}
.text-publicado-el-16-10-2025_129-363 {
  top: 0px;
  left: 408px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 275;
  text-align: left;
  text-wrap: nowrap;
  width: 157px;
  height: 21px;
}

.frame-67_129-364 {
  top: 15px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 550px;
  height: 171px;
}
.text-el-d-a-18-de-octubre-de-2025-me-presentar--en-las-palmas-en-un-evento-que-realizamos-entre-muchos-otros-artistas--el-evento-comenzar--a-las-8-de-la-noche--te-esperamos-_129-365 {
  top: 51px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 550px;
  height: 120px;
}

.text-concierto-en-las-palmas_129-366 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #007bff;
  font-size: 24px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 299px;
  height: 36px;
}

.frame-72_129-369 {
  top: 572px;
  left: 759px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 610px;
  height: 100px;
}
.rectangle-33_129-370 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame-70_129-371 {
  top: 32px;
  left: 20px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 550px;
  height: 36px;
}
.text-circles--demo-_129-374 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #007bff;
  font-size: 24px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 184px;
  height: 36px;
}

.text-eventos-y-canciones_129-376 {
  top: 238px;
  left: 759px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 26px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 297px;
  height: 39px;
}
