.panel-de-inicio_129-100 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(180deg, #1a1a1a 0%, #2d2d2d 100%);
  width: 1530px;
  height: 1337px;
}
.frame-44_129-101 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 1530px;
  height: 100px;
}
.rectangle-1_129-102 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-14_129-103 {
  top: 10px;
  left: 40px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-perfil_129-104 {
  top: 30px;
  left: 1377px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 26px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 63px;
  height: 39px;
}

.text-inicio_129-105 {
  top: 30px;
  left: 1218px;
  position: absolute;
  display: flex;
  color: #4a9eff;
  font-size: 26px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 69px;
  height: 39px;
}

.frame-43_129-106 {
  top: 1107px;
  left: -2px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 1532px;
  height: 223px;
}
.rectangle-2_129-107 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-17_129-108 {
  top: 47px;
  left: 808px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-18_129-109 {
  top: 60px;
  left: 1003px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-19_129-110 {
  top: 40px;
  left: 603px;
  position: absolute;
  display: flex;
  display: flex;
}

.container_129-10 {
  top: 241px;
  left: 40px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 1450px;
  height: 192px;
}
.container_129-11 {
  padding: 24px 24px 0px 24px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #2a2a2a;
  width: 467px;
  height: 192px;
}
.container_129-12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  box-sizing: content-box;
  height: 80px;
  width: -webkit-fill-available;
}
.imagewithfallback_129-13 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 33554400px;
  background: #f3f4f6;
  width: 80px;
  height: 80px;
}

.container_129-14 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  height: 72px;
  width: -webkit-fill-available;
}
.paragraph_129-15 {
  position: relative;
  box-sizing: border-box;
  height: 30px;
  width: -webkit-fill-available;
}
.text-mac-miller_129-16 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Poppins;
  line-height: 30px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 102px;
  height: 30px;
}

.paragraph_129-17 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: content-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-malcolm-james-mccormick_129-18 {
  color: #a9a9a9;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.paragraph_129-19 {
  position: relative;
  box-sizing: border-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-1-000-seguidores_129-20 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 113px;
  height: 21px;
}

.paragraph_129-21 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 48px;
  width: -webkit-fill-available;
}
.text-m-sico-y-cantante-en-solitario--hip-hop-y-r-b--exp_129-22 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 361px;
  height: 48px;
}

.container_129-23 {
  padding: 24px 24px 0px 24px;
  top: 0px;
  left: 491px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #2a2a2a;
  width: 467px;
  height: 192px;
}
.container_129-24 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  box-sizing: content-box;
  height: 80px;
  width: -webkit-fill-available;
}
.imagewithfallback_129-25 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.container_129-26 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  height: 72px;
  width: -webkit-fill-available;
}
.paragraph_129-27 {
  position: relative;
  box-sizing: border-box;
  height: 30px;
  width: -webkit-fill-available;
}
.text-sarah-j_129-28 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Poppins;
  line-height: 30px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 77px;
  height: 30px;
}

.paragraph_129-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: content-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-sarah-johnson_129-30 {
  color: #a9a9a9;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.paragraph_129-31 {
  position: relative;
  box-sizing: border-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-2-500-seguidores_129-32 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 117px;
  height: 21px;
}

.paragraph_129-33 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 48px;
  width: -webkit-fill-available;
}
.text-cantante-de-jazz-y-soul--me-inspiro-en-los-cl-sico_129-34 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 404px;
  height: 48px;
}

.container_129-35 {
  padding: 24px 24px 0px 24px;
  top: 0px;
  left: 983px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #2a2a2a;
  width: 467px;
  height: 192px;
}
.container_129-36 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  box-sizing: content-box;
  height: 80px;
  width: -webkit-fill-available;
}
.imagewithfallback_129-37 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.container_129-38 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  height: 72px;
  width: -webkit-fill-available;
}
.paragraph_129-39 {
  position: relative;
  box-sizing: border-box;
  height: 30px;
  width: -webkit-fill-available;
}
.text-dj-dave_129-40 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Poppins;
  line-height: 30px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 83px;
  height: 30px;
}

.paragraph_129-41 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: content-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-david-martinez_129-42 {
  color: #a9a9a9;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.paragraph_129-43 {
  position: relative;
  box-sizing: border-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-5-000-seguidores_129-44 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 118px;
  height: 21px;
}

.paragraph_129-45 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 48px;
  width: -webkit-fill-available;
}
.text-productor-de-m-sica-electr-nica--house--techno-y-t_129-46 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 393px;
  height: 48px;
}

.frame-73_129-274 {
  top: 620px;
  left: 40px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 44px;
  box-sizing: border-box;
  width: 1450px;
}
.container_129-200 {
  position: relative;
  box-sizing: border-box;
  height: 192px;
  width: -webkit-fill-available;
}
.container_129-201 {
  padding: 24px 24px 0px 24px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #2a2a2a;
  width: 467px;
  height: 192px;
}
.container_129-202 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  box-sizing: content-box;
  height: 80px;
  width: -webkit-fill-available;
}
.imagewithfallback_129-203 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 33554400px;
  background: #f3f4f6;
  width: 80px;
  height: 80px;
}

.container_129-204 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  height: 72px;
  width: -webkit-fill-available;
}
.paragraph_129-205 {
  position: relative;
  box-sizing: border-box;
  height: 30px;
  width: -webkit-fill-available;
}
.text-mac-miller_129-206 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Poppins;
  line-height: 30px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 102px;
  height: 30px;
}

.paragraph_129-207 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: content-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-malcolm-james-mccormick_129-208 {
  color: #a9a9a9;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.paragraph_129-209 {
  position: relative;
  box-sizing: border-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-1-000-seguidores_129-210 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 113px;
  height: 21px;
}

.paragraph_129-211 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 48px;
  width: -webkit-fill-available;
}
.text-m-sico-y-cantante-en-solitario--hip-hop-y-r-b--exp_129-212 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 361px;
  height: 48px;
}

.container_129-213 {
  padding: 24px 24px 0px 24px;
  top: 0px;
  left: 491px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #2a2a2a;
  width: 467px;
  height: 192px;
}
.container_129-214 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  box-sizing: content-box;
  height: 80px;
  width: -webkit-fill-available;
}
.imagewithfallback_129-215 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.container_129-216 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  height: 72px;
  width: -webkit-fill-available;
}
.paragraph_129-217 {
  position: relative;
  box-sizing: border-box;
  height: 30px;
  width: -webkit-fill-available;
}
.text-sarah-j_129-218 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Poppins;
  line-height: 30px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 77px;
  height: 30px;
}

.paragraph_129-219 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: content-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-sarah-johnson_129-220 {
  color: #a9a9a9;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.paragraph_129-221 {
  position: relative;
  box-sizing: border-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-2-500-seguidores_129-222 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 117px;
  height: 21px;
}

.paragraph_129-223 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 48px;
  width: -webkit-fill-available;
}
.text-cantante-de-jazz-y-soul--me-inspiro-en-los-cl-sico_129-224 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 404px;
  height: 48px;
}

.container_129-225 {
  padding: 24px 24px 0px 24px;
  top: 0px;
  left: 983px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #2a2a2a;
  width: 467px;
  height: 192px;
}
.container_129-226 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  box-sizing: content-box;
  height: 80px;
  width: -webkit-fill-available;
}
.imagewithfallback_129-227 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.container_129-228 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  height: 72px;
  width: -webkit-fill-available;
}
.paragraph_129-229 {
  position: relative;
  box-sizing: border-box;
  height: 30px;
  width: -webkit-fill-available;
}
.text-dj-dave_129-230 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Poppins;
  line-height: 30px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 83px;
  height: 30px;
}

.paragraph_129-231 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: content-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-david-martinez_129-232 {
  color: #a9a9a9;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.paragraph_129-233 {
  position: relative;
  box-sizing: border-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-5-000-seguidores_129-234 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 118px;
  height: 21px;
}

.paragraph_129-235 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 48px;
  width: -webkit-fill-available;
}
.text-productor-de-m-sica-electr-nica--house--techno-y-t_129-236 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 393px;
  height: 48px;
}

.container_129-237 {
  position: relative;
  box-sizing: border-box;
  height: 192px;
  width: -webkit-fill-available;
}
.container_129-238 {
  padding: 24px 24px 0px 24px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #2a2a2a;
  width: 467px;
  height: 192px;
}
.container_129-239 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  box-sizing: content-box;
  height: 80px;
  width: -webkit-fill-available;
}
.imagewithfallback_129-240 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 33554400px;
  background: #f3f4f6;
  width: 80px;
  height: 80px;
}

.container_129-241 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  height: 72px;
  width: -webkit-fill-available;
}
.paragraph_129-242 {
  position: relative;
  box-sizing: border-box;
  height: 30px;
  width: -webkit-fill-available;
}
.text-mac-miller_129-243 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Poppins;
  line-height: 30px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 102px;
  height: 30px;
}

.paragraph_129-244 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: content-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-malcolm-james-mccormick_129-245 {
  color: #a9a9a9;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.paragraph_129-246 {
  position: relative;
  box-sizing: border-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-1-000-seguidores_129-247 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 113px;
  height: 21px;
}

.paragraph_129-248 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 48px;
  width: -webkit-fill-available;
}
.text-m-sico-y-cantante-en-solitario--hip-hop-y-r-b--exp_129-249 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 361px;
  height: 48px;
}

.container_129-250 {
  padding: 24px 24px 0px 24px;
  top: 0px;
  left: 491px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #2a2a2a;
  width: 467px;
  height: 192px;
}
.container_129-251 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  box-sizing: content-box;
  height: 80px;
  width: -webkit-fill-available;
}
.imagewithfallback_129-252 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.container_129-253 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  height: 72px;
  width: -webkit-fill-available;
}
.paragraph_129-254 {
  position: relative;
  box-sizing: border-box;
  height: 30px;
  width: -webkit-fill-available;
}
.text-sarah-j_129-255 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Poppins;
  line-height: 30px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 77px;
  height: 30px;
}

.paragraph_129-256 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: content-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-sarah-johnson_129-257 {
  color: #a9a9a9;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.paragraph_129-258 {
  position: relative;
  box-sizing: border-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-2-500-seguidores_129-259 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 117px;
  height: 21px;
}

.paragraph_129-260 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 48px;
  width: -webkit-fill-available;
}
.text-cantante-de-jazz-y-soul--me-inspiro-en-los-cl-sico_129-261 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 404px;
  height: 48px;
}

.container_129-262 {
  padding: 24px 24px 0px 24px;
  top: 0px;
  left: 983px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #2a2a2a;
  width: 467px;
  height: 192px;
}
.container_129-263 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  box-sizing: content-box;
  height: 80px;
  width: -webkit-fill-available;
}
.imagewithfallback_129-264 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.container_129-265 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  height: 72px;
  width: -webkit-fill-available;
}
.paragraph_129-266 {
  position: relative;
  box-sizing: border-box;
  height: 30px;
  width: -webkit-fill-available;
}
.text-dj-dave_129-267 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Poppins;
  line-height: 30px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 83px;
  height: 30px;
}

.paragraph_129-268 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: content-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-david-martinez_129-269 {
  color: #a9a9a9;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.paragraph_129-270 {
  position: relative;
  box-sizing: border-box;
  height: 21px;
  width: -webkit-fill-available;
}
.text-5-000-seguidores_129-271 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 118px;
  height: 21px;
}

.paragraph_129-272 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 48px;
  width: -webkit-fill-available;
}
.text-productor-de-m-sica-electr-nica--house--techno-y-t_129-273 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: wrap;
  width: 393px;
  height: 48px;
}

.paragraph_129-8 {
  top: 545px;
  left: 40px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 276px;
  height: 39px;
}
.text-artistas-que-sigues_129-9 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 26px;
  font-family: Poppins;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 276px;
  height: 39px;
}

.paragraph_129-275 {
  top: 166px;
  left: 46px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 276px;
  height: 39px;
}
.text-artistas-destacados_129-276 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 26px;
  font-family: Poppins;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 301px;
  height: 39px;
}
